.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
}

.calc-row .card{
    background-color: #222222;
}

.calc-row .btn-outline-danger{
	color: #fff;
    border-color: #dc3545;
    background-color: #dc3545;
}

.calc-row .btn-outline-danger:hover{
	    color: #dc3545;
    border-color: #dc3545;
	    background-color: transparent;
}

.calc-row .delimiter{
	    width: 100%;
    height: 5px;
}

.calc-row .btn-outline-info{
	    color: #ffffff;
    border-color: #007bff;
    background-color: #007bff;
	    font-size: 20px;
}

.calc-row .grid{
	    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-column-gap: 10px;
    column-gap: 10px;

}